{
  "qnap": {
    "host": "192.168.1.100",
    "username": "admin",
    "ssh_key_path": "~/.ssh/qnap_key",
    "mac_address": "00:11:22:33:44:55"
  },
  "ups": {
    "name": "AVR750U",
    "low_battery_threshold": 20
  }
}